<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.resumebuilder.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.resumebuilder.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ResumeServlet</servlet-name>
        <servlet-class>com.resumebuilder.controller.ResumeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResumeServlet</servlet-name>
        <url-pattern>/ResumeServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditResumeServlet</servlet-name>
        <servlet-class>com.resumebuilder.controller.EditResumeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditResumeServlet</servlet-name>
        <url-pattern>/EditResumeServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DownloadPDFServlet</servlet-name>
        <servlet-class>com.resumebuilder.controller.DownloadPDFServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadPDFServlet</servlet-name>
        <url-pattern>/DownloadPDFServlet</url-pattern>
    </servlet-mapping>
</web-app>